*{
    margin: 0;
    padding: 0;
}
.app{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.header{
    width: 100%;
    height: 50px;
    background-color:#1b1b1f;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header>span{
    color:white;
    position: absolute;
    bottom: 10px;
}
.header-left{
  left: 0;
}
.header-center{
  left: 50%;    
  transform: translate(-50%)
}
.header-right{
  right: 0;
}
.container{
    background-color:#f0f0f0;
    width: 100%;
    height:100%;
    overflow: auto;
    position: relative;
    font-size: 14px;
    margin-top: 50px;
}
.container-context{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    height: 360px;
    margin-top: 20px;
}
.context-top{
    width: 100%;
    height: 30%;
    border-bottom: 1px #ccc dotted;
    display: flex;
    box-sizing: border-box;
    padding: 7px 7px;
}
.top-left{
    width: 80%;
    height: 100%;
}
.top-right{
    width: 20%;
    height: 100%;
}
.left-top{
    color: #a7a7a7;
    height: 30%;
    width: 100%;
}
.left-center{
    font-weight: bold;
    margin-top: 5px;
}
.top-right{
    color: #ef2b67;
    text-align: center;
}
.context-center{
    height: 30%;
    border-bottom: 1px #ccc dotted;
    display: flex;
    box-sizing: border-box;
    padding: 10px 7px;
}
.center-img{
    width: 20%;
    height: 100%;
}
.center-img>img{
    width: 100%;
    height: 100%;
}
.center-center{
    width: 60%;
    height: 100%;
    margin-left: 15px;
}
.center-font{
    font-size: 16px;
    font-weight: bold;
}
.center-price{
    color:#ff3300;
    margin-top: 5px;
}
.center-guige{
   margin-top: 5px;
   font-size: 10px;
   color: #a7a7a7;
}
.center-right{
    text-align: right;
    color: #a7a7a7;
    line-height: 70px;
    padding: 0 20px;
}
.context-bottom{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 7px;
    border-bottom: 1px #a7a7a7 dotted;
    color: #a7a7a7;
}
.bottom-left>p{
    margin-top: 7px;
}
.bottom-right{
    padding: 0 15px;
    text-align: right;
}
.bottom-right>p{
    margin-top: 7px;
}
.context-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.footer-left{
    font-weight: bold;
    margin-left: 7px;
}
.footer-right{
    color: #ff3300;
    font-weight: bold;
    padding: 0 20px;
}